/*usamos o(*) para informar que existem itens irão recair sobre todo o html*/
* {
    margin: 0;
    /*zerando a margin top bottom ring left*/
    padding: 0;
    /*zerando o preenchimento*/
    list-style: none;
    /*remove os estilos de lista*/
}

/*aqui foi feita a o cabaçario da pagina*/
header {
    background-color: #89a09a;
    /*cor de fundo do cabeçario*/
    padding: 15px;
    /*aqui da um espaço do cabeçalho para os assunto abaixo da pagina*/
    display: flex;
    /*tornando nosso header flex deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*justificativa do conteudo aqui podemos ajustar conforme nossa necessidade*/
    align-items: center;
    /*alinhamento na vertical,deixando habiliatada ao centro*/

}

/*aqui chamamos nossa logo img para estilização*/
header div img {
    width: 100px;
    /*largura da imagem*/
    height: auto;
    /*altura da imagem*/
}

header nav ul {
    display: flex;
    /*tornando nosso header flex deixando os itens lado a lado*/
}

/*aqui chamamos nossa lista não ordenada para estilização*/
header nav ul li {
    list-style: none;
    /*estilo da linha*/
    margin-right: 10px;
    /*espaça,mento entre as li*/
    /*background-color: darkolivegreen;
    transition: 3s;
    color: white;
    font-family: Arial, Helvetica, sans-serif;*/
}


/*aqui chamamos nossa ancora para estilização*/
header nav ul li a {
    text-decoration: none;
    /*decoração da ancora (subinhado) desabilitado*/
    color: black;
    /*cor da letra*/


}

header nav ul li a:hover {
    transition: 0.8s;
    /*tempo da tranzição*/
    color: darkolivegreen;
    /*cor da letra*/
    font-family: Arial, Helvetica, sans-serif;
    /*fonte da letra*/

}

/*primeira sessão para estilização*/
.section-1 {
    background-image: url(img/menu.jpg);
    /*usado para habilitar uma imagen no fundo*/
    padding: 250px;
    /*aqui da um espaço do cabeçalho para os assunto abaixo da pagina*/
    background-repeat: no-repeat;
    /*para a imagem não se repetir dentro da sessção*/
    background-size: cover;
    /*utilizada para que a imagem preencha todo espaço disponivel*/
    background-position: top;
    /*posicionamento da imagen*/

    display: flex;
    /*tornando a nessão flex*/
    justify-content: center;
    /*justificativa do conteudo aqui podemos ajustar conforme nossa necessidade*/
    align-items: center;
    /*alinhando os itens ao centro*/
}

.section-1 button {
    height: 150px;
    /*largura do botão*/
    height: 40px;
    /*altura do botão*/
    background-color: rgba(255, 255, 255, 0.452);
    /*cor de fundo*/
    border-radius: 12px;
    /*arredondamento da borda*/

}


.section-1 button:hover {
    background-color: rgba(90, 89, 89, 0.205);
    /*cor de fundo*/
    transition: 0.8s;
    /*a tranzição para mudar a cor*/
    color: white;
    /*cor*/
    font-family: Arial, Helvetica, sans-serif;
    /*fonte da letra*/
    cursor: pointer;
    /*para deixar o mause com formato de mão*/
}

/* chamamos nossa segunda sessão para estilização*/
.section-2 {
    padding: 250px;
    /* prenchimento/tamanho da sessão */
    background-color: #6f737e;
    /* cor de fundo da sessão*/

    display: flex;
    /* tonando a sessão flex e deixandp os itens lado a lado*/
    justify-content: space-evenly;
    /* justificação do conteúdo - usando o space - evenly como parânetro*/
    align-items: center;
    /* alinhamento dos itens na vertical - trazendo para o centro */
}

.section-2 img {
    width: 300px;
    /*largura da imagem*/
    height: auto;
    /*a tranzição para mudar a cor*/
    /*altura da imagem*/

}

.section-2 img:hover {
    width: 310px;
    /*largura da imagem*/
    transition: 0.8s;
    cursor: pointer;
    /*para deixar o mause com formato de mão*/
}

.section-2 h2 {
    color: black;
    /* cor de fundo da sessão*/
    font-size: 20px;
    /*tamanho da letra */
    margin-top: 15px;
    /*deixa um espaço no topo */
    margin-right: 15px;
    /*deixa um espaço na direita */
}

.section-2 p {
    color: black;
    /* cor de fundo da sessão*/
    font-size: 17px;
    /*tamanho da letra */
    margin-top: 15px;
    /*deixa um espaço na direita */
}

/* aqui chamamaos nossa terceira e última sessão para estilização */
.section-3 {
    background-image: url(img/street-fighter-6-intro-800x450.jpg);
    /* habilitamos uma imagen de fundo para  a sessão*/
    padding: 250px;
    /* tamanho preenchimento da sessão*/
    background-repeat: no-repeat;
    /*para a imagem não se repetir dentro da sessção*/
    background-size: cover;
    /*utilizada para que a imagem preencha todo espaço disponivel*/
    background-position: center;
    /*posicionamento da imagen*/
    background-attachment: fixed;
    /* posição em que a imagen será apresentada */
}

.section-3 h2 {
    color: white;
    /* cor da letra*/
    font-size: 25px;
    /*tamanho da letra */
    margin-top: 15px;
    /*deixa um espaço no topo */
    margin-right: 15px;
    /*deixa um espaço na direita */
}

.section-3 p {
    color: white;
    /* cor da letra*/
    font-size: 18px;
    /*tamanho da letra */
    margin-top: 15px;
    /*deixa um espaço no topo */
    margin-right: 15px;
    /*deixa um espaço na direita */
    font-weight: 900;
    /*espeçura da letra*/
}

footer {
    padding: 20px;
    /* tamanho preenchimento da sessão*/
    background-color: #92917f;
    /* cor de fundo da sessão*/
}

/* trazndo nossa lista não ordenada para estilização*/
footer nav ul {
    display: flex;
    /* justificativa*/
    justify-content: center;
    /* justificação do conteúdo - usando o space - evenly como parânetro*/
    align-items: center;
    /* alinhamento dos itens na vertical - trazendo para o centro */

}

footer nav ul li {
    list-style: none;
    /*estilo da linha*/
    margin-right: 10px;
    /* atribuimos um espaçamento entre as listas, para que tenhamos uma melhor visualização*/
}

/* aqui estamos trabalhando dentro da âncora*/
footer nav ul li a {
    text-decoration: none;
    /*decoração da ancora (subinhado) desabilitado*/
    color: black;
    /* cor da letra*/
    margin-top: 15px;
    /*deixa um espaço no topo */
    margin-right: 15px;
    /* atribuimos um espaçamento entre as listas, para que tenhamos uma melhor visualização*/

}

footer nav ul li a:hover {
    color: darkslategray;
    /*cor*/
    transition: 0.8s;
    /*uma transição*/
    font-family: Arial, Helvetica, sans-serif;
    /*fonte da letra*/
}


header i {
    /*estilizando icone*/
    color: white;
    /*cores do icone*/
    font-size: 40px;
    /*tamanho do icone*/
    background-color: #6f737e;
    /*cor de fundo do elemento*/
    padding: 15px;
    /*respiro/preenchimento da cor de fundo*/
    border-radius: 10px;
    /*arredondamento da caixa*/
}

header i:hover {
    /*aplicando o efeito ao passar o mouse*/
    background-color: purple;
    /*cor de fundo alterada*/
    transition: 0.7s;
    /*transição do elemento*/
}

.section-tela1 {
    /*estilização tela 2*/
    background-image: url(img/game-over-6771162_640.jpg);
    padding: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-tela1 p {
    font-size: 20px;
    color: black;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.section-tela1 span {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.section-tela2 {
    background: linear-gradient(150deg, rgb(0, 0, 0) 30%, #bd3200 100%);
    /*deixa um degrad*/
    padding: 240px;
}

/*div pai- dentro dele existe 3 caixas*/
.div-pai {
    display: flex;
    /*tornando os itens flex, deixando as caixas lado a lado*/
    justify-content: center;
    /*justificando os itens ao centro*/
    margin-bottom: 20px;

}

/*estilização das caixas (div filho)*/
.div-pai div {
    width: 200px;
    /*largura da caixa*/
    height: 280px;
    /*altura da caixa*/
    margin-right: 20px;
    /*espaçamento entre as caixas
    */
    border-radius: 10px;
    /*arredondamento da borda*/
    background-color: #6f737e;

}

.div-pai .divfilho-1 {
    background-image: url(img/download.jpg);
    /*para colocar a imagen de fundo*/
    background-repeat: no-repeat;
    /*para não ficar repetindo a imagen*/
    background-position: center;
    /*para deixa a div no centro*/
    background-size: cover;
    /*para deixar a imagen prenchida*/
}

.div-pai .divfilho-1:hover {
    width: 210px;
    /*largura da caixa*/
    height: 290px;
    /*altura da caixa*/
    transition: 0.8s;
    /*transição */
}

.div-pai .divfilho-2 {
    background-image: url(img/pokemon.jpg);
    /*para colocar a imagen de fundo*/
    background-repeat: no-repeat;
    /*para não ficar repetindo a imagen*/
    background-position: center;
    /*para deixa a div no centro*/
    background-size: cover;
    /*para deixar a imagen prenchida*/
}

.div-pai .divfilho-2:hover {
    width: 210px;
    /*largura da caixa*/
    height: 290px;
    /*altura da caixa*/
    transition: 0.8s;
    /*transição */
}

.div-pai .divfilho-3 {
    background-image: url(img/jogo.jpg);
    /*para colocar a imagen de fundo*/
    background-repeat: no-repeat;
    /*para não ficar repetindo a imagen*/
    background-position: center;
    /*para deixa a div no centro*/
    background-size: cover;
    /*para deixar a imagen prenchida*/
}

.div-pai .divfilho-3:hover {
    width: 210px;
    /*largura da caixa*/
    height: 290px;
    /*altura da caixa*/
    transition: 0.8s;
    /*transição */
}

.div-tiu {
    display: flex;
    /*tornando os itens flex, deixando as caixas lado a lado*/
    justify-content: center;
    /*justificando os itens ao centro*/
    margin-bottom: 20px;

}

.div-tiu div {
    width: 200px;
    /*largura da caixa*/
    height: 280px;
    /*altura da caixa*/
    margin-right: 20px;
    /*espaçamento entre as caixas
    */
    border-radius: 10px;
    /*arredondamento da borda*/

}

.div-tiu .divsubrinho-1 {
    background-image: url(img/mine.jpg);
    /*para colocar a imagen de fundo*/
    background-repeat: no-repeat;
    /*para não ficar repetindo a imagen*/
    background-position: center;
    /*para deixa a div no centro*/
    background-size: cover;
    /*para deixar a imagen prenchida*/
}

.div-tiu .divsubrinho-1:hover {
    width: 210px;
    /*largura da caixa*/
    height: 290px;
    /*altura da caixa*/
    transition: 0.8s;
    /*transição */

}

.div-tiu .divsubrinho-2 {
    background-image: url(img/ghost.jpg);
    /*para colocar a imagen de fundo*/
    background-repeat: no-repeat;
    /*para não ficar repetindo a imagen*/
    background-position: center;
    /*para deixa a div no centro*/
    background-size: cover;
    /*para deixar a imagen prenchida*/
}

.div-tiu .divsubrinho-2:hover {
    width: 210px;
    /*largura da caixa*/
    height: 290px;
    /*altura da caixa*/
    transition: 0.8s;
    /*transição */
}

.div-tiu .divsubrinho-3 {
    background-image: url(img/sun.jpg);
    /*para colocar a imagen de fundo*/
    background-repeat: no-repeat;
    /*para não ficar repetindo a imagen*/
    background-position: center;
    /*para deixa a div no centro*/
    background-size: cover;
    /*para deixar a imagen prenchida*/
}

.div-tiu .divsubrinho-3:hover {
    width: 210px;
    /*largura da caixa*/
    height: 290px;
    /*altura da caixa*/
    transition: 0.8s;
    /*transição */

}

.section-tela3 {
    padding: 240px;
    background-color: #c1c0ae;
    display: flex;
    justify-content: space-evenly;
}

.div-titulo h2 {
    color: black;
    margin: 15px;
    font-size: 25px;
    font-weight: 700;
}

.div-titulo p {
    color: black;
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
}

.div-mapa iframe{
border-radius: 10px;
margin-right: 30px;
}

.rodape{
    padding:100px;
    background-color:rgb(156, 152, 146);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-line img{
    width: 100px;

}